* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
      margin: 0 auto 0;
    line-height: 1.5;
    max-width: 1440px;
    background-color: rgb(62, 72, 85);
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

.square {
    height: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(79, 84, 95);
    font-size: 8rem;
    color: rgb(221, 221, 221);
    
}

.square:hover{
  background-color: rgb(135, 140, 150);
   
}
